.column {
	position: relative;
	width: 100%;
}

.column:before {
	content: '⬇';
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-200%);
	opacity: 0;
	transition: all 0.2s ease-in;
	pointer-events: none;
	font-size: 5vw;
	line-height: 1;
	color: #000;
}

.player-1-turn .column:hover:before,
.player-1-turn .column:focus:before {
	opacity: 1;
	transform: translateY(-100%);
	transition-timing-function: ease-out;
}